html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

@media (max-width: 768px) {
  /* Estilos para telas menores que 768px de largura */
  /* Adicione suas regras CSS aqui */
}

body {
  background-color: #102631;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.Bv-I {
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
}

.admin-page {
  background-color: #102631;
}

.logo {
  width: 100px;
  border-radius: 60px;
}

header {
  background-color: #102631;
}

.icon-menu {
  background-color: #ed7041;
}

.menu {
  font-size: 17px;
}

.menu > li:hover {
}

.menu > a {
  margin-right: 40px;
  border-bottom: 2px solid #ed7041;
}

/* Estilo normal para os itens do menu */
.navbar-nav li.nav-item {
  margin-right: 20px; /* Espaçamento entre os itens */
  border-bottom: 2px solid transparent; /* Linha de borda inferior transparente */
  transition: border-bottom 0.3s; /* Efeito de transição suave na borda inferior */
}

/* Estilo de hover para os itens do menu */
.navbar-nav li.nav-item:hover {
  border-bottom: 2px solid #ed7041; /* Cor da linha de borda inferior no hover (pode alterar a cor conforme necessário) */
}

.entrar {
  border: 1px solid #ed7041;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  text-decoration: none;
}

.entrar:hover {
  border: 1px solid #ed7041;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  background-color: #ed7041;
  transition-duration: 300ms;
}

.login-flotoar {
  float: right;
}

/*Botões dentro do login*/
.borda-logs {
  border: 1px solid #ed7041;
}

.bordNone-c {
  border-top: none;
}

.bordNone-l {
  border-bottom: none;
}

/*Carroussel*/
.carrossel {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.slide {
  display: inline-block;
  width: 100%;
  height: auto;
  border-radius: 20px;
}

@keyframes carrossel {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-200%);
  }
}

@media (max-width: 768px) {
  .carrossel {
    display: none;
  }
}

/*Botões dentro do login*/

.fotoCard {
  width: 200px;
  /* Manter a largura igual */
  height: 200px;
  /* Definir uma altura fixa para todas as imagens */
  object-fit: cover;
  /* Manter a proporção da imagem e preencher o espaço */
  border-radius: 100px;
  /*Deixar a foto do card no centro*/
}

.card {
  background-color: #bbd3e2;
  border-radius: 40px;
}

.promocaoText {
  color: #ed7041;
}

button {
  background-color: #ed7041;
  border: 0;
  border-radius: 15px;
  padding: 5px;
  color: white;
}

.cardapio-inicio {
  margin-top: 100px;
}

.img-cardapio-inicio {
  margin-right: 1px;
}

.text-cardapio-inicio {
  color: #ed7041;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #102631;
}

video {
  width: 100%;
  height: 100%;
}

.foto-de-baixo {
  height: 350px;
  background-color: #102631;
}

footer {
  background-color: #102631;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  bottom: 0oo;
}

footer > a {
  color: white;
  font-size: 25px;
  text-decoration: none;
  margin-right: 20px;
}

footer > .whatSap {
  color: white;
  background-color: green;
  font-size: 100%;
  padding: 15px;
  text-decoration: none;
  border-radius: 20px;
}

/* CSS DO CARDAPIO*/
.imagem-card-cardapio {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.left-partLogin {
  float: left;
}

.right-partLogin {
  float: right;
}

.titulo-card-cardapio {
  color: #ed7041;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.saibamais {
  color: #fff;
  background-color: #ed7041;
  padding: 7px;
  border-radius: 15px;
  text-decoration: none;
}

.welcomeCardapio {
  color: #ed7041;
}

/* CSS do Login */
.h1-login {
  color: #fff;
  margin-bottom: 20px;
}

.content-login {
  color: #fff;
  margin-top: 10px;
}

.button-login {
  background-color: #ed7041;
  color: #fff;
  padding: 8px;
  padding-right: 12px;
  padding-left: 12px;
  border-radius: 15px;
  border: 0;
}

.form-group {
  width: 60%;
}

.input-login-senha {
  background-color: rgba(255, 0, 0, 0);
  color: #fff;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  box-shadow: none;
  border-bottom: 2px solid #ed7041;
}

.input-login-senha:focus {
  background-color: rgba(255, 0, 0, 0);
  color: #fff;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  box-shadow: none;
  border-bottom: 2px solid #ed7041;
}

::placeholder {
  color: #fff;
}

.tudo-do-login {
  margin-top: 120px;
}

/* Defina um tamanho máximo para a imagem e use uma unidade flexível (porcentagem) */
.left-partLogin img {
  max-width: 100%;
  /* A imagem não ficará maior do que o contêiner pai */
  height: auto;
  /* Isso manterá a proporção original da imagem */
  float: left;
}

.right-partLogin {
  max-width: 100%;
  height: auto;
  float: right;
}

@media (max-width: 768px) {
  .left-partLogin {
    display: none;
  }
}

.only-print {
  display: none;
}
@media print {
  .only-print {
    display: block;
  }
  .no-print {
    display: none !important;
  }
  .container {
    max-width: 100%;
  }
}

.table td:nth-child(2) {
  display: table-cell;
}

@media screen and (max-width: 768px) {
  .table td:nth-child(2) {
    display: none !important; /* Adicionando !important para garantir que a regra seja aplicada */
  }
}

.page-link{
  background-color: #2e5a70 !important;
  border: 2px solid #ed7041;
}

.page-item disabled{
  background-color: #2e5a70;
  border:  2px solid #ed7041; 
}

.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* Número de linhas desejado */
  -webkit-box-orient: vertical;
}